{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .words-sets {
        width: 300px;
        height: 300px;
        background-color: white;

        position: relative;

        border-radius: 4px;
    }
    
    .words-sets-title {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        color: black;
        font-weight: 800;
        font-size: 1.8em;
    }
</style>
{% endblock style %}

{% block content %}
    <div class="container mt-5">
			<div class="row">
				{% for set in words_sets %}
				<div class="col-sm-6 col-md-4 col-lg-3 mb-4 item">
					<a href={% url 'word_slider_view' user_id=set.creator.pk words_slides_slug=set.slug %}>
						<div class="words-sets">
								<p class="words-sets-title">{{ set.title }}</p>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
    </div>
{% endblock content %}
    